/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
    width:100%;
    max-width:600px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider .slider-inner {
    padding-top: 70px; /*reserve the space for nav controls*/
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider li {

    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:cover;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    border-radius:3px;
    border: 10px solid #BB3371;
    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
#ninja-slider-pause-play { display:none;}

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    width:35px;
    height:30px;
    top:26px;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    z-index:10;
    cursor:pointer;
    background-image:url(../img/9/icons.png);
    filter: saturate(70%);
    -webkit-filter: saturate(70%);
    background-repeat:no-repeat;
}


#ninja-slider-prev {
    left:0px;right:auto;
    background-position:0 -40px;
}
#ninja-slider-next {
    left:auto;right:0px;
    background-position:0 -70px;
}

/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {display:none;}


/*------ pager(nav bullets) ------*/
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager
{
    position: absolute;
    width:100%;
    top:30px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    /*display:table;*/
    font-size:0;
}

#ninja-slider-pager a
{
    display:inline-block;
    width: 14px;
    height: 14px;
    /* font-size:0; /* Non-zero will show the index num */
    font: bold 14px/14px arial;
    color: #999;
    margin:1px;
    cursor:pointer;
    /* background:transparent url(../img/9/icons.png) no-repeat 0 0; */
}

#ninja-slider-pager a.active
{
    /* background-position:-18px -14px; */
    color: #AE3175;
}



#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*users can swipe the screen to navigate with mobile devices*/
@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }
}


/* ---------If there are videos ------- */
#ninja-slider .video, .video-playbutton-layer
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(../img/9/video-btn.png) no-repeat center 30%;
    cursor:pointer;
}

/* And if you have YouTube or Vimeo */
#ninja-slider div.stopVideoIcon
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}
