.ease
{
-webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.sidenav .user-view .background
{
  position: relative !important;
  margin-top: 20px;
  margin-bottom: 50px;
}
.subheader
{
  cursor: pointer !important;
  pointer-events: all !important;
}

.background img
{
  width: 290px;
    height: 58px;
    position: relative;
    left: -30px;

}
.gradbtn {
    height: 42px;
    z-index: 100000;
    position: absolute;
    text-align: center;
    width: 200px;
    cursor: pointer !important;
    color: white;
    line-height: 42px;
    margin-left: 16px;
    margin-top: 3px;
    border-radius: 50px;
    background-color: #CF3668; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #972D7A, #AF3175,#D1376C, #CF3668); /* Standard syntax (must be last) */
}
.sidenav
{
  background:#000;
  color: #fff !important;

  border-right: 1px solid #fff;
}
.main
{
  position: relative;
}
.sidenav li>a
{
  color: #fff !important;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.sidenav li>a:hover {
  background: grey;
}
.subheader:hover
{
  background: #000 !important;
}
.menubtn
{
  z-index: 9;
  cursor: pointer;
	position: absolute;
  left: 50%;
  margin-left: -150px;
	display: inline-block;
	width: 300px;
	background: transparent;
	border: 4px solid #000;
	height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	line-height: 55px;
  font-weight:lighter;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	margin-top: 5px;
  border: 2px solid #fff;
  bottom: 80px;
}
.icon-scroll,
.icon-scroll:before
{
  position: absolute;
  left: 50%;
}

.icon-scroll
{
  cursor: pointer;
  width: 20px;
  height: 35px;
  margin-left: -18px;
  bottom: 2px;
  background: black;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 12px;
}
.aboutcol
{
  position: relative;
  margin-top:20px;
  margin-bottom:20px;
  border-right:1px solid #000;
  height: calc( 100% - 120px );
  text-align: center;
}
.colourhead
{
  background: -webkit-linear-gradient(to right, #972D7A, #AF3175,#D1376C, #CF3668);
  background: linear-gradient(to right, #972D7A, #AF3175,#D1376C, #CF3668);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.works
{
  min-height: 100%;
  width: 100%;
  left: 0;
  position: relative;
}
.abouthead
{
  width:100%;
  text-align:center;
  font-size: 72px;
  background: -webkit-linear-gradient(to right, #972D7A, #AF3175,#D1376C, #CF3668);
  background: linear-gradient(to right, #972D7A, #AF3175,#D1376C, #CF3668);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headspan
{
  position: relative;
  width:100%;
  text-align:center;
  display: block;
}
.aboutsec
{
  position: relative;
  margin-top:20px;
  margin-bottom:20px;
  height: calc( 100% - 120px );
  text-align: center;
}
.aboutsec p{
  position: relative;
  text-align: center;
  margin-left: 30px;
  font-size: 20px;
  margin-right: 30px;
}
.heading
{
  position: relative;
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px;
}
.heading span
{
    font-size: 40px;
    color: #000;
    padding: 10px;
    border: 2px #000 dashed;



    letter-spacing: 5px;
}
.section2
{
  position: relative;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: white;
  border: 40px solid #000;

}
.icon-scroll:before
{
  content: '';
  width: 3px;
  height: 3px;
  background: #fff;
  margin-left: -1.6px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
}

@keyframes scroll
{
  0% {opacity: 1;}
  100% {opacity: 0;
     transform: translateY(18px);}
}
@-webkit-keyframes scroll
{
  0% {opacity: 1;}
  100% {opacity: 0;
     transform: translateY(18px);}
}
.menubtn:hover
{
	background: #fff;
	color: #000;

}
.graph
{
  cursor: crosshair;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
}
.abscissa {
  width: 100%;
  height: 50%;
  border-bottom: dashed 1px #fff;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 95vh;
  text-align: right;
  padding-right: 10px;
  opacity: 0.4;
  pointer-events: none;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* outline: solid 1px red; */
  /* animation: fadeout .8s 4s forwards; */
}
.logo
{
  position: absolute;

  min-width: 300px;
  min-height: 60px;
  width: 50vw;
  height: 10vw;
  background-size: cover;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sidelogo
{
  min-width: 250px;
  min-height: 50px;
  width: 24.3vw;
  height: 4.8vw;
}
.ordinate {
  width: 50.6%;
  height: 100%;
  border-left: dashed 1px #fff;
  /* outline: solid 1px red; */
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
  padding-left: 10px;
  padding-top: 5px;
  pointer-events: none;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* animation: fadeout .8s 4s forwards; */
}
@media only screen and (max-device-width:600px){
  .aboutcol
  {
    display: none;
  }
}
@media screen and (max-device-width:600px){
  .aboutcol
  {
    display: none;
  }
}

/************* SLIDER COMPARE *************/

.cd-image-container {
  position: relative;
  width: 90%;
  max-width: 81vw;
  margin: 0em auto;
}
.cd-image-container img {
  display: block;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #dc717d url("../img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

/******************************/
